<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/static/css/diagram.css">
    <title>2번째 미니 프로젝트</title>
</head>
<body>
    <h1>2번째 미니 프로젝트</h1>
    <div class="floating-box" id="step1" onclick="location.href='step1'">연구목표 설정</div><div class="floating-step"></div>
    <div class="floating-box" id="step2" onclick="location.href='step2'">데이터 획득</div><div class="floating-step"></div>
    <div class="floating-box" id="step3" onclick="location.href='step3'">데이터 준비</div><div class="floating-step"></div>
    <div class="floating-box" id="step4" onclick="location.href='step4'">데이터 탐색</div><div class="floating-step"></div>
    <div class="floating-box" id="step5" onclick="location.href='step5'">데이터 모델링</div><div class="floating-step"></div>
    <div class="floating-box" id="step6" onclick="location.href='step6'">배포</div>

    <script>
        document.getElementById("step1").onclick(location.href('step1'))
    </script>
</body>
</html>