{% extends "./main.html" %}

<!-- 상단바 제목 -->
{% block title %}
{{ title }} - 2nd Mini Project
{% endblock title %}

{% block head %}
<style>
strong {
    font-family: 'Jua';
    font-size: 8em;
}
</style>
{% endblock head %}
<!-- 내용 -->
{% block contents %}

    <h2>{{ title }}</h2>

    <article>
        
        <ul>
            <li>지금 보고 계신 웹페이지를 통한 조원들의 발표</li>
            <li>프로젝트를 정리한 파워포인트</li>
        </ul>
        
        <strong>감사합니다</strong>
        
    </article>    

{% endblock %}